@model MVCSAC.Models.Resposta

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Resposta</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DESCRes)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.DESCRes)
            @Html.ValidationMessageFor(model => model.DESCRes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DTRes)
        </div>
        <div class="editor-field">
            @Html.TextBox("DTRes", DateTime.Now.Date.ToString("MM/dd/yyyy"))
            @Html.ValidationMessageFor(model => model.DTRes)
        </div>

        <div style="display:none;">
            <div class="editor-label">
                @Html.LabelFor(model => model.CHUsu)
            </div>
            <div class="editor-field">
                @Html.TextBox("CHUsu", Convert.ToInt32(Session["ChaveUsuario"]))
                @Html.ValidationMessageFor(model => model.CHUsu)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.CHChamado)
            </div>
            <div class="editor-field">
                @Html.TextBox("CHChamado",(int)ViewBag.ChaveChamado)
                @Html.ValidationMessageFor(model => model.CHChamado)
            </div>
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "../Chamado")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
